/* ******************** */
/* お気に入りボタン */
/* ******************** */
.CRD-starButton:after {
  content: '★';
  display: inline-block;
  padding: 0 3px;
  border-radius: 2px;
  margin-right: 4px;
  color: #ccc;
  background: transparent;
}
.CRD-starButton[data-favorite="true"]:after {
  color: #ff6420;
  background: transparent;
}



/* ******************** */
/* テーブルの行 */
/* ******************** */
td:hover {
  cursor: pointer;
}
td:hover .CRD-starButton:after {
  cursor: pointer;
  background: #ddd;
  color: #888;
}
tr[data-hightlight01="true"] td:hover .CRD-starButton:after ,
tr[data-hightlight02="true"] td:hover .CRD-starButton:after {
  cursor: pointer;
  background: #ddd;
  color: #ff6420;
}
#wrapper tr[data-hightlight01="true"] td ,
#wrapper tr[data-hightlight02="true"] td {
  background-color: #ddff7d;
}



/* ******************** */
/* お気に入りだけ表示ボタン */
/* ******************** */
.CRD-refineButton {
  float: right;
  text-decoration: underline;
  color: #3264ff;
}
.CRD-refineButton:hover {
  cursor: pointer;
  text-decoration: none;
}
.CRD-refineButton[data-refine="true"] :first-child,
.CRD-refineButton[data-refine="false"] :last-child {
  display: none;
}



/* ******************** */
/* お気に入りだけ表示中の表示制御 */
/* ******************** */
#wrapper table[data-refine="true"] tr,
#wrapper table[data-refine="true"] tr {
  display: none;
}
#wrapper table[data-refine="true"] tr[data-hightlight01="true"],
#wrapper table[data-refine="true"] tr[data-hightlight02="true"] {
  display: table-row;
}



/* ******************** */
/* 既存テーブルのデザイン調整 */
/* ******************** */
#wrapper #container {
  width: auto;
}

#wrapper #left_contents {
  height: 1px;
}

#wrapper #right_contents {
  width: 80%;
  margin-left: 195px;
  float: left;
}

#wrapper .table_box_new_book {
  width: 100%;
}

#wrapper .table_box_new_book tbody tr td {
  width: auto;
  min-width: 60px;
  padding: 6px 8px;
}
